.section--brewery {
  grid: auto-flow / minmax(300px, 2fr) minmax(300px, 650px) 1fr;
  grid-column-gap: 4em;

  h2,
  p {
    margin-bottom: 1em;
  }

  &__image {
    grid-column: 1 / 2;
    margin-left: auto;
  }

  &__text-box {
    align-self: center;


  }
}